
<div class="container">

    <div *ngIf="drama$ | async as drama">
        <div class="row">
            <div class="col-md-6">
                 <img [src]="drama.imgPoster" class="img-responsive poster-size">
            </div>
            <div class="col-md-6">
                <h1>{{ drama.title }}</h1>
                <p>Genres: {{ drama.genres }}</p>
                <p>Actors: {{ drama.actors }}</p>
                <p>Directors: {{ drama.directors }}</p><br>
                <p>{{ drama.desc }}</p><br>
                
                <div class="scroll-box"> <!--might turn into a separate component-->
                    <blockquote>People who think they know everything are a great annoyance to those of us who do. <i>Isaac Asimov</i></blockquote>
                    <blockquote>People who think they know everything are a great annoyance to those of us who do. <i>Isaac Asimov</i></blockquote>
                    <blockquote>People who think they know everything are a great annoyance to those of us who do. <i>Isaac Asimov</i></blockquote>
                    <blockquote>People who think they know everything are a great annoyance to those of us who do. <i>Isaac Asimov</i></blockquote>
                    <blockquote>People who think they know everything are a great annoyance to those of us who do. <i>Isaac Asimov</i></blockquote>
                </div>
            </div>

        </div>
    </div>

</div>



