
<div class="container">

    <div *ngIf="drama$ | async as drama">
        <div class="row">
            <div class="col-md-6">
                 <img [src]="drama.imgPoster" class="img-responsive poster-size">
            </div>
            <div class="col-md-6">
                <h1>{{ drama.title }}</h1>
                <p>Genres: {{ drama.genres }}</p>
                <p>Actors: {{ drama.actors }}</p>
                <p>Directors: {{ drama.directors }}</p><br>
                <p>{{ drama.desc }}</p><br>
                
                <hr>

                <app-star-review [userId]="user_Id" [dramaId]="drama_Id" ></app-star-review>
            </div>

        </div>

        
    </div>

</div>





